
.navbar-brand {
    margin: 0 2rem !important;
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: bold;
    color: white !important;
}

.nav-item {
    font-size: clamp(.5rem, 2vw, .8rem);
    font-weight: bold;
}
