body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    
    background-color: #A9A9A9;
    box-shadow: inset 0px 0px 100px black;
    
    overflow-x: hidden;

    scroll-behavior: smooth;
}


.bg-box,.bg-box-2 {
    width: 100%;
    z-index: -3;
    position: absolute;
}
.bg-black {
    width: 100%;
    height: 30rem;
    position: absolute;
    clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 47%);
}
.bg-box-2 {
    top: 200vh;
}

.black-1 {
    background-color: #222222;
    z-index: 4;
    top: 100px;
}
.black-2 {
    background-color: #393838;
    z-index: 3;
    top: 200px;
}
.black-3 {
    background-color: #474747;
    z-index: 2;
    top: 300px;
    
}
.black-4 {
    background-color: #565656;
    z-index: 1;
    top: 400px;
}

.background {
    margin: 5rem 0;
    padding: 5rem 0;
    
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
    color: white !important;
    
}
.background-fill {
    background-color: #222222;
    box-shadow: inset 0px 0px 35px black;
}
.background-trans {
    background: rgba( 86, 86, 86, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 2.0px );

}
/* Navbar */

.navbar {
    background: rgba( 86, 86, 86, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.0px );
-webkit-backdrop-filter: blur( 5.0px );

}

.nav-item {
    width: 93px;
    text-align: center;
    position: relative;
    margin: 0 2px;
}
.nav-item a {
    color: #fff !important;
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav-item a::after , .nav-item a::before{
    content: "";
    position: absolute;
    
    background-color: white;
    
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav-item a::after{
    top: 0;
    right: 0;
    z-index: -1;
    width: 2px;
    height: 100%;
}
.nav-item a::before{
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 0%;
    height: 0%;
}

.nav-item a:hover {
    color: #000 !important;
}
.nav-item a:active {
    color: #fff !important;
}
.nav-item a:hover::after,.nav-item a:hover::before {
    width: 105%;
    height: 100%;
}

.navbar-light button.navbar-toggler span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* carousel */

.carousel-img {
    height: 100vh;
}
.carousel-indicators {
    position: absolute;
    z-index: 4;
}

/* Section Courses */
.btn-courses {
    display: inline-block;
    padding: .8rem 2rem;
    color: white;
    font-weight: bold;
    
    width: 100%;
    border-radius: 5px;
    border: 4px solid white;

    background-color: #2F2F2F;
    box-shadow: inset 0px 0px 35px black;
    
    transition: all 500ms;
    
    outline: none !important;
}
.btn-courses option {
    background-color: #2F2F2F;
    color: white !important;
}
.btn-courses:hover {
    box-shadow: none;
}

/* card */

.card {
    background: #222222;
    background: radial-gradient(circle, rgba(43, 42, 42, 0.888) 0%, rgba(67,67,67,1) 100%);

    border: 4px solid white;
    
    box-shadow: inset 0px 0px 100px black;
}
.btn-read-more {
    background-color: black;
    
    padding: .7rem 3rem;
    margin: 5px 0;
    color: white;
    text-decoration: none !important;
    border: none;

    transition: all 200ms;
}
.broucher {
    display: block;
}
.btn-read-more:hover {
    color: black;
    background-color: white;
}

/* Testimonials */
#demo {
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: white;
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 0.5rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.2rem
    }
}

.carousel-caption img {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 5rem;
        height: 5rem;
    }
}

#image-caption {
    font-style: normal;
    font-size: 2rem;
    margin: 1rem;
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 1rem;
        margin-top: 0.5rem
    }
}
i {
    background-color: transparent;
}
.carousel-control-prev {
    justify-content: flex-start
}
.carousel-control-next {
    justify-content: flex-end
}
.carousel-control-prev,
.carousel-control-next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 20%;
    transition: none;
    opacity: unset
}


/* Partners */
.img-logos {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Partners end */


/* Form */
.message-form {
    margin: 3rem 0;
    width: 60%;
}
::placeholder {
    color: #fff;
}
.message-form input[type=submit] {
    width: 50%;
    font-weight: bold;
    font-size: 1rem;
    background-color: #222222;
    color: #fff;
    
    box-shadow: inset 0px 0px 35px black;
}
.formstyle {
    background-color: #222222;
    color: #fff;
    
    box-shadow: inset 0px 0px 35px black;

}
.message-form input,.message-form textarea {
    width: 100%;
    border: none;
    padding: .7rem 1.5rem;
    outline: none;
    border-radius: 5px;
    border: 4px solid white;

    
    transition: all 500ms;
}

.message-form textarea {
    padding: 1rem 1.5rem;    
}
.message-form input:hover,.message-form textarea:hover {
    box-shadow: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  background-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

/* Form end */

/* Footer  */
.footer {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: inset 0px 0px 100px black;

    padding: 4rem 0;
}
ul {
    list-style: none
}
.footer-list {
    display: flex;
    justify-content: center;
}

.list-header {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
}
.footer-list ul li a{
    color: white !important;
    font-size: 1rem;
}
.icons i{
    font-size: 3rem;
    padding: 0 5px;
}
.footer-list ul li a:hover {
    color: #A9A9A9 !important;
}
.footer-list ul li .facebook:hover {
    color: #3589EF !important;
}
.footer-list ul li .twitter:hover {
    color: #1DA1F2 !important;
}
.footer-list ul li .instagram:hover {
    background: -webkit-linear-gradient(#fb3958,#125688);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-list ul li .linkedin:hover {
    color: #2467C2 !important;
}


.side-footer {
    color: white;
}

.side-footer h5 {
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.side-footer p {
    font-size: .8rem;
}

/* Footer end */



/* Media queries */
@media screen and (max-width: 990px) {
    .nav-item {
        font-size: 1rem !important;
        padding: .5rem 0;
        width: 20rem;
    }
    .carousel-img {
        height: 50vh;
    }
    .message-form {
        width: 100%;
    }

    .broucher-card {
        width: 100% !important;
    }
    .broucher-card .btn-read-more {
        padding: 1rem 2rem;
        width: 100% !important;
    }
}
