body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;

    background-color: #A9A9A9;

    overflow-x: hidden;
}


.bg-box,.bg-box-2 {
    width: 100%;
    z-index: -3;
    position: absolute;
}
.bg-black {
    width: 100%;
    height: 30rem;
    position: absolute;
    clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 47%);
}
.bg-box-2 {
    top: 200vh;
}

.black-1 {
    background-color: #222222;
    z-index: 4;
    top: 100px;
}
.black-2 {
    background-color: #393838;
    z-index: 3;
    top: 200px;
}
.black-3 {
    background-color: #474747;
    z-index: 2;
    top: 300px;
    
}
.black-4 {
    background-color: #565656;
    z-index: 1;
    top: 400px;
}


.background {
    margin: 5rem 0;
    padding: 5rem 0;
    
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    
    color: white !important;
    background: rgba( 86, 86, 86, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
}
/* Navbar */

.navbar {
    background: rgba( 86, 86, 86, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.0px );
-webkit-backdrop-filter: blur( 5.0px );
}

.nav-item {
    width: 93px;
    text-align: center;
    position: relative;
    margin: 0 2px;
}
.nav-item a {
    color: #fff !important;
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav-item a::after , .nav-item a::before{
    content: "";
    position: absolute;
    
    background-color: white;
    
    transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.nav-item a::after{
    top: 0;
    right: 0;
    z-index: -1;
    width: 2px;
    height: 100%;
}
.nav-item a::before{
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 0%;
    height: 0%;
}

.nav-item a:hover {
    color: #000 !important;
}
.nav-item a:active {
    color: #fff !important;
}
.nav-item a:hover::after,.nav-item a:hover::before {
    width: 105%;
    height: 100%;
}
/* carousel */

.carousel-img {
    height: 100vh;
}


/* Section Courses */
.btn-courses {
    display: inline-block;
    padding: .8rem 2rem;
    color: white;
    font-weight: bold;
    
    width: 100%;
    border-radius: 5px;
    border: 4px solid white;

    background-color: #2F2F2F;
    box-shadow: inset 0px 0px 35px black;
    
    transition: all 500ms;
    
    outline: none !important;
}
.btn-courses option {
    background-color: #2F2F2F;
    color: white;
}
.btn-courses:hover {
    box-shadow: none;
}

/* card */

.card {
    background: #222222;
    background: radial-gradient(circle, rgba(43, 42, 42, 0.888) 0%, rgba(67,67,67,1) 100%);

    border: 4px solid white;
    
    box-shadow: inset 0px 0px 100px black;
}
.btn-read-more {
    background-color: black;
    
    padding: .8rem 2rem;
    color: white;
    text-decoration: none !important;
    border: none;

    transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.btn-read-more:hover {
    color: black;
    background-color: white;
}

/* Testimonials */
#demo {
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: white;
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 0.5rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.2rem
    }
}

.carousel-caption img {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 5rem;
        height: 5rem;
    }
}

#image-caption {
    font-style: normal;
    font-size: 2rem;
    margin: 1rem;
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 1rem;
        margin-top: 0.5rem
    }
}
i {
    background-color: transparent;
}
.carousel-control-prev {
    justify-content: flex-start
}
.carousel-control-next {
    justify-content: flex-end
}
.carousel-control-prev,
.carousel-control-next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 20%;
    transition: none;
    opacity: unset
}


/* Partners */
.img-logos {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Partners end */



/* Media queries */
@media screen and (max-width: 990px) {
    .nav-item {
        font-size: 1rem !important;
        padding: .5rem 0;
        width: 20rem;
    }
    .carousel-img {
        height: 50vh;
    }
}
